## Импорт библиотек и загрузка датасета

In [1]:
import pandas as pd

titanic_data = pd.read_csv('train.csv')
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Заполнение пропущенных значений

In [2]:
titanic_data['Age'].fillna(titanic_data['Age'].median(), inplace=True)
titanic_data['Cabin'].fillna('U', inplace=True)
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace=True)
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# Анализ выживаемости по полу (Sex)

In [3]:
# Процент выживших среди мужчин и женщин
survival_by_sex = titanic_data.groupby('Sex')['Survived'].mean()
survival_by_sex

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

# Анализ выживаемости по классу билета (Pclass)

In [4]:
# Процент выживших среди пассажиров разных классов
survival_by_pclass = titanic_data.groupby('Pclass')['Survived'].mean()
survival_by_pclass

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

# Анализ выживаемости по возрасту (Age)

In [5]:
# Создание возрастных групп и анализ выживаемости в каждой группе
titanic_data['AgeGroup'] = pd.cut(titanic_data['Age'], bins=[0, 12, 18, 35, 60, 100], labels=['Child', 'Teenager', 'Adult', 'Middle-aged', 'Senior'])
survival_by_age_group = titanic_data.groupby('AgeGroup')['Survived'].mean()
survival_by_age_group

AgeGroup
Child          0.579710
Teenager       0.428571
Adult          0.353271
Middle-aged    0.400000
Senior         0.227273
Name: Survived, dtype: float64

# Анализ выживаемости по порту посадки (Embarked)

In [6]:
# Процент выживших среди пассажиров, севших на разных портах
survival_by_embarked = titanic_data.groupby('Embarked')['Survived'].mean()
survival_by_embarked

Embarked
C    0.553571
Q    0.389610
S    0.339009
Name: Survived, dtype: float64